NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDummyKeyForDevelopment_please_replace
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=snipgeek.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=snipgeek-dev
NEXT_PUBLIC_FIREBASE_APP_ID=1:1234567890:web:abcdef123456
