# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Other
.DS_Store
*.pem

# Environment variables
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Sensitive Scripts
/scripts/serviceAccountKey.json
/scripts/studio-8697076532-14512-firebase-adminsdk-fbsvc-a3a2b11f23.json
# IDE settings
.idea/
